nav{
    background-color: #AD242C;
    height: 7em;
    padding: auto; 
    border: auto;
    text-align: center;
}
img{
    z-index: -1;
}
a{
    color: white;
    font-weight: bolder;
}
h1{
    color: white;
    padding: .5em; 
    border: .5em;
}