nav{
    background-color: #AD242C;
    height: 7em;
    padding: auto; 
    text-align: center;
}
a{
    color: white;
    font-weight: bolder;
}
h1{
    color: white;
    padding: .5em; 
}
.container{
    display: flex;
    margin-left: auto; 
    margin-right: auto; 
}
.left-text{
    font-size: 1vw;
    z-index: 1;
    position: absolute; 
    left: 32em; 
    top: 20em; 
}
.right-text{
    font-size: 1vw; 
    z-index: 1;
    position: absolute; 
    right: 32em; 
    top: 20em; 
}
img{
    z-index: -1;
}
<!-- color scheme is https://www.schemecolor.com/simple-vintage-christmas.php>